<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Lista de Empleados</title>
</head>
    <body>
        <div class="container">
        <h1>Empleados por Departamento</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cargo</th>
                        <th>Sueldo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="l:${listaEmpDep}">
                        <td th:text="${l.ide}"></td>
                        <td th:text="${l.nombre}"></td>
                        <td th:text="${l.apellido}"></td>
                        <td th:text="${l.cargo}"></td>
                        <td th:text="${l.sueldo}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/Search/editarEmpDep' + '?id=' + ${l.ide}}">Editar</a></td>
                    </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>